
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <br />
    <br />
    <br />
    <h2>Admin İşlemler</h2>
    
    <div class="col-md-4">
        <!-- Kategoriler Widget'ı -->
        <div class="card my-4">
            <h5 class="card-header">İşlem Seçenekleri</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/AdminYazi/Index">Yazilar</a>
                            </li>
                            <li>
                                <a href="/AdminUyes/Index">Uyeler</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>