@model IEnumerable<darkZencefil.Models.Yazi>
@{
    Layout = null;
}
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="showcase-slide">
            <!-- Put the slide content in a div with the class .showcase-content. -->
            <div class="showcase-content"> <a href="/site/haberDetay/@item.YaziID"> <img src="@item.Foto" height="400" width="800" alt="2" /> </div>
                <div class="showcase-caption">
                    @item.Baslik
                </div>
        </div>
    }
}



